<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
    <title>Data access</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    <center>
        <table width="951">
            <tbody>
                <tr height="67">
                    <td>
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td width="117" class="large logo">Access</td>
                                    <td width="45%"><input class="input" type="text" /></td>
                                    <td width="20"></td>
                                    <td width="71"><button>Skicka</button></td>
                                    <td>&nbsp;</td>
                                    <td width="117">
                                        <form method="get" action="/login">
                                            <button type="submit">Logga in</button>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr height="37">
                    <td>
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td width="67"><a class="small" href="">Plats 1</a></td>
                                    <td width="67"><a class="small" href="">Plats 2</a></td>
                                    <td width="67"><a class="small" href="">Plats 3</a></td>
                                    <td width="127"><a class="small" href="">Alla investeringar</a></td>
                                    <td width="67"><a class="small" href="">Plats 5</a></td>
                                    <td width="67"><a class="small" href="">Plats 6</a></td>
                                    <td>&nbsp;</td>
                                    <td width="107" class="small">Annedal 10.7&deg;C</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr height="217"><td><img src="/img/accessWorld.png" /></td></tr>
                <tr><td><table width="100%" id="myOwnTable"></table></td></tr>
            </tbody>
        </table>
    </center>

    <script type="text/javascript" src="/js/dataContents.json"></script>
    <script src="/js/script.js"></script>
</body>
</html>
