*{
    display: block;
    margin: auto;
}

pagína{
    width: 960px;
    height: 540px;
    border: 1px solid silver;
    background-repeat: no-repeat;
    background-size: 960px 540px;
    opacity: 0.5;
    color: black;
}

/* pagína[p = "1"]{background-image: url("https://img.freepik.com/free-vector/futuristic-science-lab-background_23-2148505015.jpg");} */
pagína[p = "1"]{background-image: url("https://wallpaperaccess.com/full/6245.jpg");}
pagína[p = "2"]{background-image: url("https://wallpaperaccess.com/full/17672.jpg");}
pagína[p = "3"]{background-image: url("https://pbs.twimg.com/media/DHhz9NAV0AApHWZ.jpg");}

h1, h3, sec, d{
    width: 84.2%;
}

h3{
    margin-top: 0.9cm;
    margin-bottom: 0.9cm;
    font-size: 37px;
    font-weight: bold;
}

sec{
    margin-top: 0.1cm;
    margin-bottom: 0.1cm;
    font-size: 21px;
}